<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/rss">
	<title>Bookmarks | kodama</title>
</head>
<body>
	<h1>Bookmarks</h1>
	<dl>
		<dt><a href="/login">login</a></dt>
		<dt>you are <%= user[:name] %></dt>
		<dt><a href="/user/new">sign up</a></dt>
	</dl>
	<dl>
	<% records.each do |r| %>
		<dt><a href="<%= r[:url] %>"><%= r[:title] %></a></dt>
			<dd>url: <%= r[:url] %></dd>
			<dd>tag: <%= r[:tag] %></dd>
			<dd>note: <%= r[:note] %></dd>
			<dd>user: <%= r[:name] %></dd>
			<dd><a href="/<%= r[:id] %>/edit">edit</a> | <a href="/<%= r[:id] %>/delete">delete</a></td>
		</dt>
	<% end %>
	</dl>
	<p><a href="/new">new bookmark</a></p>
	<p><a href="/bookmarklet.html">bookmarklet</a></p>
</body>
</html>