<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link href='/style.css' media='screen' rel='stylesheet' type='text/css'>
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/rss">
	<title>Bookmarks | kodama</title>
</head>
<body>
	<h1>Bookmarks</h1>
	<dl>
		<dt><a href="/login">login</a></dt>
		<dt>you are <%= user[:name] %></dt>
		<dt><a href="/user/new">sign up</a></dt>
	</dl>
	<div class="message">
		<p class="message"><%= message %></p>
	</div>

	<div class="autopagerize_page_element">
	<% records.each do |r| %>
		<div class="xforkentry">
			<div><a class="taggedlink" href="<%= r[:bookmarks][:url] %>"><%= r[:bookmarks][:title] %></a></div>
			<div class="description">url: <%= r[:bookmarks][:url] %></div>
			<div class="meta">tag: <%= r[:bookmarks][:tag] %></div>
			<div class="description">note: <%= r[:bookmarks][:note] %></div>
                    <% if r[:users][:id] == 1 %>
			<div class="description">user: <%= r[:users][:name] %></div>
                    <% else %>
			<div class="description">user: <a href="/<%= r[:users][:name] %>"><%= r[:users][:name] %></a></div>
                    <% end %>
			<div><a href="/edit/<%= r[:bookmarks][:id] %>">edit</a> | <a href="/delete/<%= r[:bookmarks][:id] %>" onclick="return confirm('really delete?');">delete</a></div>
		</div>
	<% end %>
	</div>
	<div class="autopagerize_insert_before">
		<% if page[:prev] != 0 %>
			<p><a href="/" rel="prev">prev</a></p>
		<% end %>
		<% if page[:next] != 0 %>
			<p><a href="/page/<%= page[:next] %>" rel="next">next</a></p>
		<% end %>
		<p><a href="/new">new bookmark</a></p>
		<p><a href="/bookmarklet.html">bookmarklet</a></p>
	</div>
</body>
</html>
