<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Edit Bookmark | kodama</title>
</head>
<body>
	<h1>Edit Bookmark</h1>
	<form method="post" action="/edit/<%= bookmark[:id]%>">
		<dl>
		<dt>title <input type="text" name="title" value="<%= bookmark[:title] %>"></dt>
		<dt>url <input type="text" name="url" value="<%= bookmark[:url] %>"></dt>
		<dt>tag <input type="text" name="tag" value="<%= bookmark[:tag] %>"></dt>
		<dt>note<input type="text" name="note" value="<%= bookmark[:note] %>"></dt>
		<dt><input type="submit" value="edit"></dt>
		</dl>
	</form>
	<a href="/">back</a>
</body>
</html>
